EXEC sys.sp_configure N'contained database authentication', N'1'
GO
RECONFIGURE WITH OVERRIDE
GO
CREATE DATABASE [FACTURA]
 CONTAINMENT = PARTIAL
 ON  PRIMARY 
( NAME = N'FACTURA_dat', FILENAME = N'D:\jquedena\data\sql\FACTURA_dat.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FACTURA_log', FILENAME = N'D:\jquedena\data\sql\FACTURA_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [FACTURA]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [FACTURA] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
